@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <p>Добро пожаловать на демонстрационное приложение.</p>
    <p>Вы зашли как Admin к Вашему вниманию предоставляется такое меню</p>
    <img src="@Url.Content("/Images/Sys/menuAdmin.jpg")" />
    <p>Подробнее о меню</p>
    <ol>
        <li>FoodOrderwWeb или Home попадете на текущую страницу;</li>
        <li>Organizations страница для того чтобы добавлять кафе и блюда;</li>
        <li>Hello, это просто приветствие того под кем Вы вошли;</li>
        <li>Loginout разлогиниться перебросит на страницу Гость</li>
    </ol>
    <p>Админ не может заказать, он только вносит первичные данные</p>
    <p>При клике Organizations Вы попадёте на страницу редактирования Кафе</p>
    <img src="@Url.Content("/Images/Sys/OrgAdmin.jpg")" />
    <p>При клике по Dishes Вы можете добавить блюда к выбранному заведению</p>
    <img src="@Url.Content("/Images/Sys/DishesAdmin.jpg")" />
</div>
