@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-left">
    <p>Добро пожаловать на демонстрационное приложение.</p>
    <p>Вы зашли как гость к вашему вниманию предоставляется такое меню</p>
    <img src="@Url.Content("/Images/Sys/menuAllUser.jpg")" />
    <p>Подробнее о меню </p>
    <ol>
        <li>FoodOrderwWeb или Home попадете на текущую страницу;</li>
        <li>Menu то попадете на окно с выбором Кафе\столовых, в которых  можно заказать еду;</li>
        <li>Register это регистрация тут все просто вводите нового пользователя который получает права User;</li>
        <li>Login тут еще проще чем при регистрации авторизуетесь и используете функционал. В системе уже есть 3 пользователя:</li>
        <ul>
            <li>admin@test.ru этот пользователь имеет права Admin;</li>
            <li>user1@test.ru этот пользователь имеет права User;</li>
            <li>user2@test.ru этот пользователь имеет права User.</li>
        </ul>
    </ol>
    <p>Когда Вы нажали по Menu перед Вами отрывается следующая картина</p>
    <img src="@Url.Content("/Images/Sys/OrgAll.jpg")" />
    <p>При клике на Dishes откроется </p>
    <img src="@Url.Content("/Images/Sys/DishesAll.jpg")" />
    <p>То есть доступ только на просмотр. Для получения больших прав, пожалуйста авторизуйтесь.</p>

</div>
